<div data-reveal id="reveal-after-buy-message" class="medium reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <header><h3>Eine Nachricht an {{ data.receiverName }} schreiben</h3></header>
    <form name="afterBuyMessageForm" novalidate>
        <char-counter
                class="after-buy-message-counter"
                value="data.message"
                limit="160"
                component="after-buy-message"
                form="afterBuyMessageForm"
                min-signs="1"></char-counter>
        <textarea id="after-buy-message" placeholder="Hier können Sie eine private Nachricht schreiben" ng-model="data.message"></textarea>
        <ul class="button-group">
            <li><button class="button" ng-disabled="afterBuyMessageForm.$invalid" ng-click="afterBuyMessage()">Absenden</button></li>
            <li><button class="button" ng-click="cancelAfterBuyMessage()">Abbrechen</button></li>
        </ul>
    </form>
</div>
